{% extends '_placeholdercadre.html' %}
{% load static %}
{% block body %}

	<p><font color="red">{{message}}</font></p>

    <div id="Form">
    <h1>Connectez-vous</h1>
    <div class ="insideblock">
        <img class="stellar_img" src="{% static 'stellar.png' %}" alt="">
        <form method="POST">
            {% csrf_token %}
            {% for a in form %}
                    <div class="fieldWrapper">
                        {{ a.errors }}
                        {{ a.label_tag }} {{a}}
                    </div>
            {% endfor %}
            <p><input type="submit" value='Login' /></p>
        </form>
        </div>
    </div>
{% endblock %}