{% extends '_placeholdercadre.html' %}
{% load static %}
{% block body %}
    {% block content %}
        <div id="Form">
        <h2>Créer un compte utilisateur</h2>
         <div class ="insideblock">
        <img class="stellar_img" src="{% static 'stellar.png' %}" alt="">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
          </div>
    </div>
    {% endblock %}
{% endblock %}