{%extends 'layout.html' %}

{% block breadcrumb %}
  <nav>
		<a href="{% url 'home' %}">Accueil</a> /
    <span>Liste des astres<span>
  </nav>
{% endblock %}

{% block content %}
 	<h2>Tous les astres</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>système</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for astronomical_body in astronomical_bodies %}
				<tr>
					<td> {{ astronomical_body.id }} </td>
					<td> {{ astronomical_body.name }} </td>
					<td> {{ astronomical_body.system.name }} </td>
					<td> <a href="{% url 'astronomical_bodies' astronomical_body.id %}">Voir</a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
