{% extends 'system_list.html' %}

{% block breadcrumb %}
  <nav>
    <a href="{% url 'home' %}">Accueil</a> /
    <a href="{% url 'astronomical_bodies' %}">Liste des astres</a> /
    <a href="{% url 'systems' astronomical_body.system.id %}">{{ astronomical_body.system.name }}</a> /
    <span>{{ astronomical_body.name }}<span>
  </nav>
{% endblock %}
{% block content %}
  <article class='astronomical_bodies__wrapper'>
    <h1>
      {{ astronomical_body.name }}
    </h1>

    <h2>Caractèristiques</h2>
    <table>
      <tr>
        <th>système</th>
        <td> <a href="{% url 'systems' astronomical_body.system.id %}">{{ astronomical_body.system.name }}</a> </td>
      </tr>
      <tr>
        <th>nom</th>
        <td> {{ astronomical_body.name }} </td>
      </tr>
      <tr>
        <th>distance_au_sol</th>
        <td> {{ astronomical_body.distance_au_sol }} </td>
      </tr>
      <tr>
        <th>masse</th>
        <td> {{ astronomical_body.masse }} </td>
      </tr>
      <tr>
        <th>rayon</th>
        <td> {{ astronomical_body.rayon }} </td>
      </tr>
      <tr>
        <th>gravite</th>
        <td> {{ astronomical_body.gravite }} </td>
      </tr>
      <tr>
        <th>temperature</th>
        <td> {{ astronomical_body.temperature }} </td>
      </tr>
      <tr>
        <th>volcanisme</th>
        <td> {{ astronomical_body.volcanisme }} </td>
      </tr>
      <tr>
        <th>atmosphere</th>
        <td> {{ astronomical_body.atmosphere }} </td>
      </tr>
      <tr>
        <th>composition</th>
        <td> {{ astronomical_body.composition }} </td>
      </tr>
      <tr>
        <th>period_orbital</th>
        <td> {{ astronomical_body.period_orbital }} </td>
      </tr>
      <tr>
        <th>inclinaison_orbital</th>
        <td> {{ astronomical_body.inclinaison_orbital }} </td>
      </tr>
      <tr>
        <th>station</th>
        <td> {{ astronomical_body.station }} </td>
      </tr>
      <tr>
        <th>distance</th>
        <td> {{ astronomical_body.distance }} </td>
      </tr>
    </table>

    <h2>Dans le même système</h2>

    {% for body in astronomical_body.system.astronomical_bodies %}
      {{body}}
    {% endfor %}

  </article>
{% endblock %}
