body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  color: #666;
    width: 100%;
  height: 900px;
}
html{
   width: 100%;
  height: 900px;
}

#Form {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background: #f2f2f2;
}

.insideblock{
  display: block;
  position: relative;
  width: 530px;
  height: 679px;
  margin: auto;
  margin-top: 180px;
  box-shadow: 1px 5px 10px 1px #333;
  overflow:hidden;
}

img.stellar_img {
  display: block;
  position: absolute;
  margin: auto;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

form{
    position: relative;
    padding: 50% 13% 0 13%;
}

footer{
    position: absolute;
    padding: 35% 13% 0 38%;

}

main{
    position: relative;
    padding: 0% 13% 0 41%;
}

h2 {
    text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  font-family: 'Open Sans',sans-serif;
}
h1{
    position: relative;
    padding: 0% 13% 0 45%;
}