* {box-sizing: border-box;padding: 0;margin: 0;}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("back.jpg") no-repeat center fixed;
    background-size:cover;
    -webkit-background-size: cover;
}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.container {
    height: 500px;
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#slider input[type="radio"] {position:absolute; top:-9999px; left:-9999px; visibility: hidden;}

#slider input[type="radio"]:checked ~ .slide-item {transform: translate3d(0, 100%, 0);}

#slider input[type="radio"]:checked + .slide-item {opacity: 1;transform: translate3d(0, 0, 0);z-index: 1;}

#slider input[type="radio"]:checked + .slide-item + .slide-nav {z-index: 1;}

#slider input[type="radio"]:checked:nth-of-type(1) + .slide-item + .slide-nav + .slide-dots .slide-dot:nth-child(1) {background-color: #fff;}

#slider input[type="radio"]:checked:nth-of-type(2) + .slide-item + .slide-nav + .slide-dots .slide-dot:nth-child(2) {background-color: #fff;}

#slider input[type="radio"]:checked:nth-of-type(3) + .slide-item + .slide-nav + .slide-dots .slide-dot:nth-child(3) {background-color: #fff;}

#slider .slide-item {height: 100%;width: 100%; opacity: 0;position: absolute;top: 0;left: 0;z-index: 0;transform: translate3d(-100%, 0, 0);transition: all 1s ease;width: 100%;}

#slider .slide-nav {padding: 20px;position: absolute;top: 50%;transform: translate3d(0, -50%, 0);width: 100%;z-index: 0;}

#slider .slide-prev {cursor: pointer;float: left;}

#slider .slide-prev::after {border-top: 2px solid #fff;border-left: 2px solid rgba(251, 255, 251, 0.64);border-radius: 1px;content: '';display: block;height: 20px;transform: rotate(-45deg);width: 20px;}

#slider .slide-next { cursor: pointer;float: right;}

#slider .slide-next::before {border-top: 2px solid #fff;border-right: 2px solid #fff;border-radius: 1px;content: '';display: block;height: 20px;transform: rotate(45deg);width: 20px;}

#slider .slide-dots {padding: 50px;position: absolute;bottom: 0%;z-index: 1;text-align: center;width: 100%;}

#slider .slide-dot {border: 2px solid #fff;cursor: pointer;display: inline-block;height: 15px;width: 15px;}

#slider .slide-img {width: 100%;height: 100%;}

#slider .slide-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#slider .slide-item .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-image: linear-gradient(to top, rgba(87, 130, 209, 0.71) 0%, rgba(251, 194, 235, 0.1) 100%);
    text-align:center;
}

.slide-content p{
    color:#E18728;
}
#slider .slide-item .slide-content h3 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#slider .slide-item .slide-content p {
    font-size: 1.2rem;
    letter-spacing: 5px;

}
/* La couleur des liens marche pas*/
.slide-img{
    color:white;
}

.slide-img:hover{
    color:white;
}
.footer {

  text-align: center;
  padding: 5px;
}


#colum\.side {
    position: absolute;
  right:0px;

}

#logo{
    width: 5px;
	height: auto;
}

#bas{
    color: #fbfffb;
    margin-right: 15px;
}
#connexion{
    color: white;

}

#connexion :hover{
    color: red;
}

.info th{
    color: #fbfffb;
}

.info h2{
    color: #fbfffb;
}

.info td{
    color: #fbfffb;
}

.info table{
    background-image:
       linear-gradient(to right,rebeccapurple,cornflowerblue);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}


/*css page des corps*/
.block {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto;
  background: #ffffff;
  border-radius: 5%;
  box-shadow: 0px 10px 46px -13px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.block h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.block p {
  font-size: 12px;
  font-weight: normal;
  padding: 40px;
  text-align: justify;
}

.block img {
  vertical-align: center;
  max-width: 70%;
  border-radius: 10px 10px 0px 0px;
  margin: 40px auto;
}

.block figcaption {
  position: absolute;
  background: rgba(176, 167, 161, 0.8);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  opacity: 0;
}

.block figcaption:hover {
  opacity: 1;
}

#elmback1 {
  opacity: 0.7;
  z-index: -1;
  box-shadow: none;
  left: 300px;
  transform: scale(0.8);
}


#elmback1:hover {
  opacity: 1;
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 10px 46px -13px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#elmback2 {
  opacity: 0.7;
  z-index: -1;
  box-shadow: none;
  right: 300px;
  transform: scale(0.8);
}

#elmback2:hover {
  opacity: 1;
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 10px 46px -13px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/*celestial_list*/

#cards{
    float: left;
}

#infosyst{
    margin-left: 245px;
    width: 240px;
    color:cornflowerblue;
}

/*system_add*/

#System{
    color:white;
    font-family: 'Montserrat', sans-serif;
}


#Form{
    max-width:960px;
    margin-top:50px;
    margin-bottom:50px;
    position:relative;
    color:white;
}

/* search page*/


* {
  box-sizing: border-box;
}

.searchform {
  display: block;
  margin: 35vh auto;
  overflow: hidden;
  width: 50%;
}
label, input {
  vertical-align: baseline;
  color: #737373;
}
label {
  margin: 0.125em 0.125em 0 0;
}

input[type="text"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;

}
input[type="text"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}

.bar{
  /* height: 80vh; */
}




.astronomical_body_cards {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.astronomical_body_card {
  float: left;
  display: block;
  width: 300px;
  height: 300px;
  /* position: absolute;
  left: 0;
  right: 0; */
  margin: 10px;
  background: url("planet.jpg");
  border-radius: 5%;
  box-shadow: 0px 10px 46px -13px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.astronomical_body_card table {
  display: none;
}

.astronomical_body_card:hover table {
  display: block;
}


  /* choices_add */

#choices table {
    text-align: center;
    border-spacing: 30px;
    height: 500px;
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}


/* celestialadd */

.celestialadd{
    color: white;
    font-family: 'Montserrat', sans-serif;
}



/* showsystems */

.systemPage__wrapper{
    color:white;
}

.systemPage__wrapper table{
    color: white;
     background-color: black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

.systemPage__picture{
    -moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

.systemPage__wrapper table a:visited{
    color: black;
}

.systemPage__wrapper table a:link{
    color: black;
}

.astronomical_bodies_name{
    color: black;


}