
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'connexion.css' %}" />
	<title>compte</title> <!-- nom de la page qui apparait ds l'onglet-->
</head>



<body>

	<center><header> <!--logo MNHN, SU et logo de notre site éventuellement-->
		<table>
			<tr>
			<td>
				<a href=https://www.mnhn.fr/fr/etudiants><img src="{%static 'logoMNHN.png' %}" alt="logo du MNHN" height=100px/></a>
			</td>
			<td>
				<center><h2>Bienvenue </br>sur </br>Elite Dangerous </h2></center>
			</td>
			<td>
				<a href=http://sciences.sorbonne-universite.fr/fr/index.html><img src="{%static 'logoSU.png' %}" alt="logo de SU" height=90px/></a>
			</td>
			</tr>
		</table>
		<hr/>
	</header></center>


	<main>

{% block body %}

{% endblock %}
	</main>

