{% extends 'system_list.html' %}


{% block contenu %}
						 <h1>Renseignez des types de corps célestes</h1>

						<div id="Form"> 

							<form action="{% url 'ValiderType' %}" method="POST">
									{%csrf_token%}
									{{form}}
							<p><input type="submit"value="Valider" /></p>
						</form>
						</div>
						<div id='affichages types'>
						<p><h2>Types déjà existants dans la base de données</h2></p>
							{%for n in types%}
								{{n.Nom}}</br>
							{%endfor%}
						</div>
{% endblock %}