{% extends 'system_list.html' %}
{% load static %}

{% block contenu %}

    <div class="celestialadd">
        <h1>Renseignez de nouveau astres et/ ou étoiles</h1>
    </div>

    <div id="Form">
        <form method="POST">
            <fieldset>
                <legend>Astres et/ ou étoiles</legend>
                {% csrf_token %}
                {% for a in form %}
                    <div class="fieldWrapper">
                        {{ a.errors }}
                        {{ a.label_tag }} {{ a }}
                    </div>
                {% endfor %}
            </fieldset>
            <p><input type="submit" value="Valider"/></p>
        </form>
    </div>
{% endblock %}