{% extends 'system_list.html' %}
{% load static %}

{% block contenu %}
    <div id="choices">
<center>
    <table>
        <tr>
            <td> <a href="{% url 'system_add' %}"><img src="{% static 'addsystem.jpg' %}" alt="" class="arrondie"/></a></td>
            <td><a href="{% url 'celestial_add' %}"><img src="{% static 'addcelestial.jpg' %}" alt="" class="arrondie"/></a></td>
        </tr>
        <tr>
            <td>Ajouter un système</td>
            <td>Ajouter un corps céleste</td>
        </tr>
    </table>


</center>
    </div>
{% endblock %}