{% extends 'system_list.html' %}

{% block contenu %}
						 <h1>Créez votre compte</h1>
						<div id="Form"> 
							<form action={%url 'Valider_crea' %} method="POST">

							{% csrf_token %}
							
							<h3>Choisissez un nom d'utilisateur :</h3>
							{{ form.username }} 
							
							</br></br>

							<h3>Choisissez un mot de passe :</h3>
							{{ form.mdp }}
							
							</br></br>

							<p><font color="red">{{message}}</font></p>
							
							<input type='submit' class='Envoyer'>
							</form>
						</div>
{% endblock %}