{% load static %}

<html lang="">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'cssacceuil.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'javaacceuil.js' %}"/>
    <meta charset="utf-8"/>
    <title>Elite Dangerous System </title>
</head>

<body>
<div id="bloc_page">
    <header></header>

    <div id="contenu" align="center">

        <div class="big-circles">
            <div class="big-circle"></div>
            <div class="big-circle"></div>
            <div class="big-circle"></div>
        </div>

        <section id="home">
            <div class="slide-wrapper">
                <div class="smallcircles">
                    <div class="small-circle"></div>
                    <div class="small-circle"></div>

                </div>

                <div class="cover-wrapper text-center" id="home-content">
                    <div class="cover-wrapper__inner">
                        <div class="cover-wrapper__container">
                            <h1>Elite Dangerous System</h1>
                            <p>
                                <a class="btn btn-cta btn-cta__green text-uppercase trigger" href="{% url 'system_list' %}">cliquer sur la page</a>
                            </p>

                            <a href="{% url 'login' %}">Connexion</a>
                            <a href="{% url 'sign_up' %}">Créer un compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
