{% load static %}
{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />
		<meta charset="utf-8" />
	  <title>Elite Dangerous System</title>
	</head>

	<body>
		{% block header %}
			<header>
				<div id="logo">
				    <a href="{% url 'home' %}"><img src="{% static 'elite.png' %}" alt="" /></a>
				</div>
			</header>
		{% endblock %}

    <main>
  		{% block content %}
        Content
  		{% endblock %}
    </main>

		{% block footer %}
            <footer>
             <div id="colum.side">
     <table>
         <tr>
             <td><a href="{% url 'search' %}"><img src="{% static 'loupe.png' %}" alt=""></a></td>
         </tr>
         <tr>
             <td><a href="{% url 'choices_add' %}"><img src="{% static 'ajout.png' %}" alt=""></a></td>
         </tr>
     </table>
 </div>
 <footer>
    <table id="icones" style="margin: 0 auto;">
        <tr>
            <td align="center">
                <figure >
                    <a href ="https://www.facebook.com/EliteDangerousOfficial/?ref=page_internal"><img src="{% static 'facebook.png' %}" alt="Facebook" class="facebook" /></a>
                </figure>
            </td>

            <td align="center">
                <figure >
                    <a href ="https://www.instagram.com/elite.dangerous/"><img src="{% static 'insta.png' %}" alt="Instagram" href="#" class="instagram"/></a>
                </figure>
            </td>

            <td align="center">
                <figure>
                    <a href ="https://forums.frontier.co.uk/showthread.php/164176-GalNet-RSS-Feed"><img src="{% static 'rss.png' %}" alt="RSS" href="#" class="rss"/></a>
                </figure>
            </td>
        </tr>
    </table>
     <br></br>
		<center><div id="connexion">
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'sign_up' %}">Créer un compte</a>
            <a href="{% url 'deconnexion' %}">déconnexion</a>
        </div></center>
     <p id="bas">MNHN Company</p>
</footer>
		{% endblock %}
	</body>
</html>
