{% extends 'system_list.html' %}
{% load staticfiles %}

{% block contenu %}
    <div class="bar">
        <h1>Recherche avancée</h1>
    <form class="searchform group">
 <label for="search-box">
    <img src="{% static 'search.png' %}" alt="">

<input type="text" id="Rech" onkeyup="Fonction()" placeholder="Recherche par nom" title="Taper un nom"/>

<ul id="Liste">
<br></br>
    <p><h3>Systèmes</h3></p>
	{% for t in Syst %}
        <li><a href="../systems/{{t.id}}/">{{t.name}}</a></li>
	{% endfor %}
    <p><h3>Corps célestes</h3></p>
    {% for i in Celest %}
        <li>{{i.nom}}</li>
    {% endfor %}
</ul>
<script>
function Fonction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("Rech");
    filter = input.value.toUpperCase();
    ul = document.getElementById("Liste");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
 </label>
    </div>
{% endblock %}