{% extends 'system_list.html' %}

{% block contenu %}

    <!-- Ne veut pas me prendre mon lo? -->
    <div id="System">
        <center><h1>Renseignez une nouveau système</h1></center>
    </div>

    <div id="Form">
        <form action="{% url 'system_list' %}" method="POST">
            <fieldset>
                <legend>Système</legend>
                <br></br>
                {% csrf_token %}
                {% for s in form %}
                    <div class="fieldWrapper">
                        {{ s.errors }}
                        {{ s.label_tag }} {{ s }}
                    </div>
                {% endfor %}
            </fieldset>
            <p><input type="submit" value="Valider"/></p>
        </form>
    </div>

{% endblock %}