{% load staticfiles %}

<div id="logo">
    <img src="{% static 'elite.png' %}" alt="">
</div>

{{ system.name }}
{#{% for celestial in system.celestial_set.all() %}#}
{#<div class="cards">#}
{#    <div class="block" id="elmback1">#}
{##}
{#        <img src="" alt=""/>#}
{#        <figcaption>#}
{#            {{ celestial.errors }}#}
{#            {{ celestial.label_tag }}#}
{##}
{#        </figcaption>#}
{#    </div>#}
{##}
{#    {% for f in fils %}#}
{##}
{#    <div class="block" id="elmback2">#}
{##}
{#        <img src="" alt=""/>#}
{#        <figcaption>#}
{#            {{ f.errors }}#}
{#            {{ f.label_tag }} {{ f }}#}
{#        </figcaption>#}
{#    </div>#}
{#    {% endfor %}#}
{#</div>#}
{#{% endfor %}#}

<div class="infosyst">
    <p></p>
</div>
