{% load static %}

<html lang="">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />
    <meta charset="utf-8" />
    <title>Elite Dangerous System </title>
</head>

<body>
	{% block header %}
			<header>
				<div id="logo">
				    <a href="{% url 'home' %}"><img src="{% static 'elite.png' %}" alt="" /></a>
				</div>
			</header>
		{% endblock %}
 {% block body %}
 {% block contenu %}
	<div id='slider'>
    <div class="container">
	 {% for system in systems %}
		 <input checked id='slide-{{ system.id }}' name='slides' type='radio'>
		 <a href="{% url 'systems' system.id %}" class='slide-item'>
			 <div class="slide-content">
				 <h3>{{ system.name }}</h3>
				 <p>Cliquer pour en savoir plus</p>
			 </div>
			 <div class="slide-img"><img src="/static/system{{ system.id }}.png" alt=""></div>
		 </a>
		 <nav class='slide-nav'>
			 {% if not forloop.first %}
				 <label class='slide-prev' for='slide-1'></label>
			 {% endif %}
			 {% if not forloop.last %}
				 <label class='slide-next' for='slide-2'></label>
			 {% endif %}
		 </nav>
	 {% endfor %}
	 <nav class='slide-dots'>
		 {% for system in systems %}
			 <label class='slide-dot' for='slide-{{ system.id }}'></label>
		 {% endfor %}
	 </nav>
 </div>
    </div>
<div class="info">
 <h2>Tous les systèmes</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Sous-systèmes</th>
				<th>Astres</th>

			</tr>
		</thead>
		<tbody>
			{% for system in systems %}
				<tr>
					<td> {{ system.id }} </td>
					<td> {{ system.name }} </td>
					<td> {{ system.sub_systems_count }} </td>
					<td> {{ system.astronomical_bodies_count }} </td>
					<td> <a href="{% url 'systems' system.id %}">Voir</a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
     {% block footer %}
      <footer>
 <div id="colum.side">
     <table>
         <tr>
             <td><a href="{% url 'search' %}"><img src="{% static 'loupe.png' %}" alt=""></a></td>
         </tr>
         <tr>
             <td><a href="{% url 'choices_add' %}"><img src="{% static 'ajout.png' %}" alt=""></a></td>
         </tr>
     </table>
 </div>
    <table id="icones" style="margin: 0 auto;">
        <tr>
            <td align="center">
                <figure >
                    <a href ="https://www.facebook.com/EliteDangerousOfficial/?ref=page_internal"><img src="{% static 'facebook.png' %}" alt="Facebook" class="facebook" /></a>
                </figure>
            </td>

            <td align="center">
                <figure >
                    <a href ="https://www.instagram.com/elite.dangerous/"><img src="{% static 'insta.png' %}" alt="Instagram" href="#" class="instagram"/></a>
                </figure>
            </td>

            <td align="center">
                <figure>
                    <a href ="https://forums.frontier.co.uk/showthread.php/164176-GalNet-RSS-Feed"><img src="{% static 'rss.png' %}" alt="RSS" href="#" class="rss"/></a>
                </figure>
            </td>
        </tr>
    </table>
     <br></br>
		<center><div id="connexion">
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'sign_up' %}">Créer un compte</a>
        </div></center>
     <p id="bas">MNHN Company</p>
</footer>
{% endblock %}
{% endblock %}
</body>
</html>
