{%extends 'layout.html' %}

{% block breadcrumb %}
  <nav>
		<a href="{% url 'home' %}">Accueil</a> /
    <span>Liste des systèmes<span>
  </nav>
{% endblock %}

{% block content %}
	<div id='slider'>
    <div class="container">
	 {% for system in systems %}
		 <input checked id='slide-{{ system.id }}' name='slides' type='radio'>
		 <a href="{% url 'systems' system.id %}" class='slide-item'>
			 <div class="slide-content">
				 <h3>{{ system.name }}</h3>
				 <p>Cliquer pour en savoir plus</p>
			 </div>
			 <div class="slide-img"><img src="/static/system{{ system.id }}.png" alt=""></div>
		 </a>
		 <nav class='slide-nav'>
			 {% if not forloop.first %}
				 <label class='slide-prev' for='slide-1'></label>
			 {% endif %}
			 {% if not forloop.last %}
				 <label class='slide-next' for='slide-2'></label>
			 {% endif %}
		 </nav>
	 {% endfor %}
	 <nav class='slide-dots'>
		 {% for system in systems %}
			 <label class='slide-dot' for='slide-{{ system.id }}'></label>
		 {% endfor %}
	 </nav>
 </div>
    </div>
<div class="info">
 <h2>Tous les systèmes</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Sous-systèmes</th>
				<th>Astres</th>

			</tr>
		</thead>
		<tbody>
			{% for system in systems %}
				<tr>
					<td> {{ system.id }} </td>
					<td> {{ system.name }} </td>
					<td> {{ system.sub_systems_count }} </td>
					<td> {{ system.astronomical_bodies_count }} </td>
					<td> <a href="{% url 'systems' system.id %}">Voir</a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
