{%extends 'layout.html' %}

{% block content %}
  <div id="System">
    <h1>Renseignez une nouveau système</h1>
  </div>
  <div id="Form">
    <form action="{% url 'create_system' %}" method="POST">
      <fieldset>
        <legend>Système</legend>
        {% csrf_token %}
        {% for field in system_form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
      </fieldset>
      <input type="submit" value="Valider" />
    </form>
  </div>
{% endblock %}
