{%extends 'layout.html' %}

{% block breadcrumb %}
  <nav>
    <a href="{% url 'home' %}">Accueil</a> /
    <a href="{% url 'systems' %}">Liste des systèmes</a> /
    <span>{{ system.name }}<span>
  </nav>
{% endblock %}

{% block content %}
  <article class='systemPage__wrapper'>
    <h1 class='systemPage__title'>
      {{ system.name }}
    </h1>
    <img src="/static/{{ system.image }}" class="systemPage__picture" alt="">
  <br></br>
    <h2>Caractèristiques</h2>
    <table>
      <tr>
        <th>Parent</th>
        <td>{{ system.parent.name|default:'A system has no parents' }}</td>
      </tr>
      <tr>
        <th>population</th>
        <td>{{ system.population }}</td>
      </tr>
      <tr>
        <th>distance_au_sol</th>
        <td>{{ system.ground_distance }}</td>
      </tr>
      <tr>
        <th>etat</th>
        <td>{{ system.state }}</td>
      </tr>
      <tr>
        <th>economie</th>
        <td>{{ system.economy }}</td>
      </tr>
      <tr>
        <th>faction</th>
        <td>{{ system.faction }}</td>
      </tr>
      <tr>
        <th>securite</th>
        <td>{{ system.security }}</td>
      </tr>
    </table>
<br></br>
    <h2>Sous-systèmes</h2>
    <ul>
      {% for sub_system in system.sub_systems %}
        <li>
          <a href="{% url 'systems' sub_system.id %}">
            {{ sub_system.name }}
          </a>
        </li>
      {% empty %}
        <p>Il n'y a pas de sous-système dans ce système.</p>
      {% endfor %}
    </ul>
<br></br>
    <h2>Astres du système</h2>
    <ul class='astronomical_body_cards'>
      {% for astronomical_body in system.astronomical_bodies %}
        <li class="astronomical_body_card">
          <a href="{% url 'astronomical_bodies' astronomical_body.id %}" class="astronomical_bodies_name">
            <center>{{ astronomical_body.name }}</center>
          </a>

          <table>
            <tr>
              <th>système</th>
              <td> <a href="{% url 'systems' astronomical_body.system.id %}">{{ astronomical_body.system.name }}</a> </td>
            </tr>
            <tr>
              <th>nom</th>
              <td> {{ astronomical_body.name }} </td>
            </tr>
            <tr>
              <th>distance_au_sol</th>
              <td> {{ astronomical_body.distance_au_sol }} </td>
            </tr>
            <tr>
              <th>masse</th>
              <td> {{ astronomical_body.masse }} </td>
            </tr>
            <tr>
              <th>rayon</th>
              <td> {{ astronomical_body.rayon }} </td>
            </tr>
            <tr>
              <th>gravite</th>
              <td> {{ astronomical_body.gravite }} </td>
            </tr>
            <tr>
              <th>temperature</th>
              <td> {{ astronomical_body.temperature }} </td>
            </tr>
            <tr>
              <th>volcanisme</th>
              <td> {{ astronomical_body.volcanisme }} </td>
            </tr>
            <tr>
              <th>atmosphere</th>
              <td> {{ astronomical_body.atmosphere }} </td>
            </tr>
            <tr>
              <th>composition</th>
              <td> {{ astronomical_body.composition }} </td>
            </tr>
            <tr>
              <th>period_orbital</th>
              <td> {{ astronomical_body.period_orbital }} </td>
            </tr>
            <tr>
              <th>inclinaison_orbital</th>
              <td> {{ astronomical_body.inclinaison_orbital }} </td>
            </tr>
            <tr>
              <th>station</th>
              <td> {{ astronomical_body.station }} </td>
            </tr>
            <tr>
              <th>distance</th>
              <td> {{ astronomical_body.distance }} </td>
            </tr>
          </table>
        </li>
      {% empty %}
        <p>Il n'y a pas d'astres dans ce système.</p>
      {% endfor %}
    </ul>

  </article>
{% endblock %}
