{% extends 'system_list.html' %}

{% block contenu %}

<a href="{% url 'system_add' %}"><img src="{% static 'addsystem.jpg' %}" alt="" />Ajouter un système</a>
    <a href="{% url 'celestial_add' %}"><img src="{% static 'addcelestial.png' %}" alt="" />Ajouter un corps céleste</a>

{% endblock %}